/*@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');*/

body {
    background: #F8F8F8;
}

#game {
    display: block;
    margin: 0 auto;
    position: relative;
    outline: none;
}

#look {
    position: absolute;
}